.dealer-table {
  width: 100%;
  border-collapse: collapse;
  color: #333;
  font-size: 14px;
}

.dealer-table__cell, .dealer-table__header-cell {
  border: 1px solid #f2f2f2;
  padding: 8px;
  max-width: 300px;
}

.dealer-table__cell {
  line-height: 20px;
}

table tr:hover {
  background-color: #f2f2f2;
}

.dealer-table__header-cell {
  padding: 12px;
  text-align: center;
  background-color: rgb(56, 164, 58);
  color: #fff;
  user-select: none;
}

.dealer-table__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 75px;
  gap: 10px;
}

.dealer-table__sort-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dealer-table__sort-title {
  margin: 0;
}

.dealer-table__sort-title:hover {
  opacity: 0.7;
}

.dealer-table__sorted-icon {
  margin: 0 0 0 5px;
}

.dealer-table__product-link {
  text-decoration: none;
  color: #333;
}

.dealer-table__product-link:hover {
  color: rgb(56, 164, 58);
}
