.general-analytics-table__wrapper {
  border: 3px solid #f2f2f2;
  padding: 20px;
}

.general-analytics-table__title {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  color: rgb(56, 164, 58);
  padding-bottom: 14px;
  border-bottom: 1px solid #e5e5e5;
  margin: 0;
}

.general-analytics-table {
  width: 100%;
  border-collapse: collapse;
  color: #333;
  font-size: 14px;
}

.general-analytics-table__cell, .general-analytics-table__header-cell {
  border: 1px solid #f2f2f2;
  padding: 8px;
  max-width: 300px;
}

table tr:hover {
  background-color: #f2f2f2;
}

.general-analytics-table__header-cell {
  padding: 12px;
  text-align: center;
  background-color: rgb(56, 164, 58);
  color: #fff;
  user-select: none;
}

.general-analytics-table__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.general-analytics-table__sort-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.general-analytics-table__sort-title {
  margin: 0;
}

.general-analytics-table__sort-title:hover {
  opacity: 0.7;
}

.general-analytics-table__sorted-icon {
  margin: 0 0 0 5px;
}

.general-analytics-table__product-link {
  text-decoration: none;
  color: #333;
}

.general-analytics-table__product-link:hover {
  color: rgb(56, 164, 58);
}

@media screen and (max-width: 1300px) {
  .general-analytics-table__wrapper {
    padding: 40px;
  }
}
