.matched-products {
  padding: 50px;
  box-sizing: border-box;
  word-wrap: break-word;
}

.matched-products__container {
  border: 3px solid #f2f2f2;
  padding: 20px;
}

.matched-products__title {
  margin: 0;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  color: rgb(56, 164, 58);
  padding-bottom: 14px;
  border-bottom: 1px solid #e5e5e5;
}

@media screen and (max-width: 1700px) {
  .matched-products {
    padding: 50px 30px;
  }
}

