.App {
  background-color: #fff;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

.page {
  max-width: 1250px;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  font-family: 'DIN Pro', Arial, sans-serif;
  box-sizing: border-box;
}
