.main {
  margin: 20px auto;
  max-width: 1250px;
  position: relative;

}

.all-products_container {
  margin-top: 58px;
  display: grid;
  grid-template-columns: 2fr 3fr;
  word-wrap: break-word;
  box-sizing: border-box;
}
