.main {
  margin: 20px auto;
  width: 100%;
  position: relative;
  padding: 0 50px;
  box-sizing: border-box;
  /* max-width: 1250px; */

}

.all-products_container {
  margin-top: 58px;
  display: grid;
  grid-template-columns: 2fr 3fr;
  word-wrap: break-word;
  box-sizing: border-box;
}
