.file-form {
  position: absolute;
  right: 50px;
  display: flex;
  padding-left: auto;
}

.file-form-input {
  min-height: 38px;
  padding: 6px 36px;
  background-color: #f2f2f2;
  border: 0px solid #d5dadc;
  border-radius: 12px 0 0 12px;
  box-sizing: border-box;
  outline: none;
  color: #555;
  font-size: 14px;
  line-height: 1.4;
}

.file-form-button {
  min-width: 110px;
  padding: 3px 18px;
  background: linear-gradient(90deg, rgba(56, 164, 58, 1) 0%, rgba(0, 183, 234, 1) 100%);
  border: none;
  border-radius: 0 12px 12px 0;
  outline: none;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  line-height: 1.4;
  box-sizing: border-box;
}

.file-form-button:hover {
  background: rgba(56, 164, 58, 1);
}
