.dropdown-menu {
  min-width: 200px;
  position: relative;
}

.dropdown-menu * {
  box-sizing: border-box;
  user-select: none;
}

.dropdown-menu__container {
  padding: 10px 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(90deg, rgba(56, 164, 58, 1) 0%, rgba(0, 183, 234, 1) 100%);
  border-radius: 12px;
  color: #fff;
  cursor: pointer;
}

.dropdown-menu__container:hover {
  background: rgba(56, 164, 58, 1);
}

.dropdown-menu__icon {
  width: 16px;
  height: 16px;
  background-size: cover;
  background-repeat: no-repeat;
}

.dropdown-menu__close-icon {
  background-image: url('../../images/close-icon.svg');
}

.dropdown-menu__open-icon {
  background-image: url('../../images/header-menu-icon.svg');
}

.dropdown-menu__list {
  width: 100%;
  min-height: 150px;
  margin: 0;
  padding: 5px;
  list-style: none;
  background: linear-gradient(90deg, rgba(56, 164, 58, 1) 0%, rgba(0, 183, 234, 1) 100%);
  border-radius: 12px;
  position: absolute;
  top: 50px;
  left: 0;
  z-index: 1;
  color: #fff;
  transition: 0.2s;
  display: none;
  opacity: 0;
}

.dropdown-menu__list_open {
  display: block;
  opacity: 1;
}

.dropdown-menu__link {
  display: block;
  padding: 10px 10px;
  margin: 0.3em;
  border-radius: 0.5em;
  text-decoration: none;
  color: #fff;
}

.dropdown-menu__link:hover {
  background-color: #f2f2f2;
  color: #333;
}
