.dealer-pagination {
  margin: 20px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #333;
}

.deler-pagination__dropdown {
  min-width: 150px;
  position: relative;
}

.deler-pagination__dropdown * {
  box-sizing: border-box;
  user-select: none;
}

.deler-pagination__select {
  background-color: rgb(56, 164, 58);
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
  padding: 10px 18px;
  cursor: pointer;
  transition: opacity 0.3s;
}

.deler-pagination__select:hover {
  opacity: 0.7;
}

.deler-pagination__caret {
  width: 0;
  height: 0;
  margin: 0 0 0 15px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #fff;
  transform: rotate(180deg);
}

.dealer-pagination__dropdown-menu {
  width: 100%;
  padding: 5px;
  list-style: none;
  background: rgb(56, 164, 58);
  color: #fff;
  position: absolute;
  top: -180px;
  left: 0;
  display: none;
  opacity: 0;
  z-index: 1;
  border-radius: 12px;
}

.dealer-pagination__dropdown-item {
  padding: 0.7em 0.5em;
  margin: 0.3em;
  border-radius: 0.5em;
  cursor: pointer;
}

.dealer-pagination__dropdown-item:hover {
  background-color: #f2f2f2;
  color: #333;
}

.dealer-pagination__dropdown-menu_open {
  display: block;
  opacity: 1;
}

.dealer-pagination__button {
  border: none;
  border-radius: 12px;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  padding: 5px 10px;
  line-height: 28px;
  color: #444;
}

.dealer-pagination__button:hover {
  opacity: 0.7;
}

.dealer-pagination__button:disabled {
  color:  #aab1b4;
  opacity: 1;
}

.dealer-pagination__container {
  display: flex;
  align-items: center;
}

.dealer-pagination__page-number {
  min-width: 50px;
  margin: 0 10px;
  padding: 10px 18px;
  background: rgb(56, 164, 58);
  border-radius: 12px;
  color: #fff;
  text-align: center;
}

.dealer-pagination__number {
  border-radius: 45px;
  display: flex;
}

.dealer-pagination__number-input::-webkit-outer-spin-button,
.dealer-pagination__number-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.dealer-pagination__number-input {
  appearance: textfield;
}

.dealer-pagination__number-input {
  max-width: 50px;
  font-size: 16px;
  border: none;
  outline: none;
  background-color: rgb(56, 164, 58);
  color: #fff;
  text-align: center;
  padding: 7px;
}

.dealer-pagination__decrement {
  padding: 7px 18px;
  border-radius: 12px 0 0 12px;
  background-color: rgb(56, 164, 58);
  border: none;
  outline: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

.dealer-pagination__increment {
  padding: 7px 18px;
  border-radius: 0 12px 12px 0;
  background-color: rgb(56, 164, 58);
  border: none;
  outline: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

.dealer-pagination__increment:hover {
  opacity: 0.7;
}

.dealer-pagination__decrement:hover {
  opacity: 0.7;
}
