.matched-products-filter-input {
  width: 100%;
  max-width: 250px;
  min-width: 80px;
  padding: 6px 12px 6px 36px;
  background-color: #f2f2f2;
  background-image: url('../../../images/dealer-search-icon.svg');
  background-repeat: no-repeat;
  background-position: -31px 7px;
  background-size: 100px;
  border: 0px;
  border-radius: 12px;
  box-sizing: border-box;
  outline: none;
  color: #555;
  font-size: 14px;
  line-height: 1.4;
}

.matched-products-dropdown-menu {
  width: 100%;
  min-width: 160px;
  position: relative;
  margin: 10px auto 0 auto;
}

.matched-products-dropdown-menu * {
  box-sizing: border-box;
  user-select: none;
}

.matched-products-dropdown-menu__select {
  background-color: #f2f2f2;
  color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
  padding: 10px 18px;
  cursor: pointer;
  transition: opacity 0.3s;
}

.matched-products-dropdown-menu__caret {
  width: 0;
  height: 0;
  margin: 0 0 0 15px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #222;
}

.matched-products-dropdown-menu__caret_transform {
  transform: rotate(180deg);
}

.matched-products-dropdown-menu__list {
  width: 100%;
  max-height: 180px;
  padding: 5px;
  margin: 0;
  list-style: none;
  background: #f2f2f2;
  color: #333;
  position: absolute;
  top: 50px;
  left: 0;
  display: none;
  opacity: 0;
  z-index: 1;
  border-radius: 12px;
  overflow-y: auto;
  overflow-x: hidden;
}

.matched-products-dropdown-menu__list::-webkit-scrollbar {
  width: 10px;
  background-color: #f2f2f2;
  border-radius: 12px;
}

.matched-products-dropdown-menu__list::-webkit-scrollbar-thumb {
  background: rgb(56, 164, 58);
  border-radius: 12px;
}

.matched-products-dropdown-menu__list_open {
  display: block;
  opacity: 1;
}

.matched-products-dropdown-menu__item {
  padding: 0.7em 0.5em;
  margin: 0.3em;
  border-radius: 0.5em;
  cursor: pointer;
}

.matched-products-dropdown-menu__item:hover {
  background-color: #fff;
}


